USE [master]
GO
/****** Object:  Database [QLDiemSV]    Script Date: 1/6/2025 4:35:38 PM ******/
CREATE DATABASE [QLDiemSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDiemSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLDiemSV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDiemSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLDiemSV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDiemSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDiemSV]
GO
/****** Object:  Table [dbo].[danhgia]    Script Date: 1/6/2025 4:35:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danhgia](
	[madanhgia] [nvarchar](20) NOT NULL,
	[tendanhgia] [nvarchar](50) NULL,
 CONSTRAINT [PK_danhgia] PRIMARY KEY CLUSTERED 
(
	[madanhgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[giangvien]    Script Date: 1/6/2025 4:35:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giangvien](
	[magv] [nvarchar](20) NOT NULL,
	[hoten] [nvarchar](50) NULL,
	[ngaysinh] [date] NULL,
	[gioitinh] [nvarchar](12) NULL,
	[sdt] [varchar](13) NULL,
	[email] [nvarchar](20) NULL,
	[diachi] [nvarchar](100) NULL,
	[khoa] [nvarchar](20) NULL,
	[anh] [image] NULL,
 CONSTRAINT [PK_giangvien] PRIMARY KEY CLUSTERED 
(
	[magv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ketqua]    Script Date: 1/6/2025 4:35:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ketqua](
	[masv] [nvarchar](20) NOT NULL,
	[malop] [nvarchar](20) NOT NULL,
	[mamh] [nvarchar](20) NOT NULL,
	[hocky] [nvarchar](20) NULL,
	[chuyencan] [float] NULL,
	[giuaky] [float] NULL,
	[cuoiky] [float] NULL,
	[tongket] [float] NULL,
	[danhgia] [nvarchar](10) NULL,
	[diemchu] [nvarchar](5) NULL,
 CONSTRAINT [PK_ketqua] PRIMARY KEY CLUSTERED 
(
	[masv] ASC,
	[malop] ASC,
	[mamh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khoa]    Script Date: 1/6/2025 4:35:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khoa](
	[makhoa] [nvarchar](20) NOT NULL,
	[tenkhoa] [nvarchar](50) NULL,
 CONSTRAINT [PK_khoa] PRIMARY KEY CLUSTERED 
(
	[makhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lantruycap]    Script Date: 1/6/2025 4:35:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lantruycap](
	[id] [int] NOT NULL,
	[ngay] [date] NULL,
	[solantruycap] [int] NULL,
 CONSTRAINT [PK_lantruycap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 1/6/2025 4:35:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[uid] [nvarchar](20) NOT NULL,
	[pwd] [nvarchar](50) NULL,
	[maquyen] [nvarchar](20) NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lop]    Script Date: 1/6/2025 4:35:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lop](
	[malop] [nvarchar](20) NOT NULL,
	[tenlop] [nvarchar](50) NULL,
	[makhoa] [nvarchar](20) NULL,
 CONSTRAINT [PK_lop] PRIMARY KEY CLUSTERED 
(
	[malop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[monhoc]    Script Date: 1/6/2025 4:35:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[monhoc](
	[mamh] [nvarchar](20) NOT NULL,
	[tenmh] [nvarchar](100) NULL,
	[sotin] [int] NULL,
	[makhoa] [nvarchar](20) NULL,
	[makhoi] [nvarchar](20) NULL,
 CONSTRAINT [PK_monhoc] PRIMARY KEY CLUSTERED 
(
	[mamh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhommonhoc]    Script Date: 1/6/2025 4:35:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhommonhoc](
	[makhoi] [nvarchar](20) NOT NULL,
	[tenkhoi] [nvarchar](50) NULL,
 CONSTRAINT [PK_nhommonhoc] PRIMARY KEY CLUSTERED 
(
	[makhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pcgiangday]    Script Date: 1/6/2025 4:35:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pcgiangday](
	[magv] [nvarchar](20) NOT NULL,
	[mamh] [nvarchar](20) NOT NULL,
	[malop] [nvarchar](20) NOT NULL,
	[hocky] [nvarchar](20) NOT NULL,
	[matt] [nvarchar](20) NULL,
 CONSTRAINT [PK_pcgiangday] PRIMARY KEY CLUSTERED 
(
	[magv] ASC,
	[mamh] ASC,
	[malop] ASC,
	[hocky] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quyen]    Script Date: 1/6/2025 4:35:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quyen](
	[maquyen] [nvarchar](20) NOT NULL,
	[tenquyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_quyen] PRIMARY KEY CLUSTERED 
(
	[maquyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sinhvien]    Script Date: 1/6/2025 4:35:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sinhvien](
	[masv] [nvarchar](20) NOT NULL,
	[hoten] [nvarchar](50) NULL,
	[ngaysinh] [date] NULL,
	[gioitinh] [nvarchar](12) NULL,
	[sdt] [varchar](13) NULL,
	[email] [nvarchar](50) NULL,
	[diachi] [nvarchar](100) NULL,
	[malop] [nvarchar](20) NULL,
	[anh] [image] NULL,
 CONSTRAINT [PK_sinhvien] PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tongket]    Script Date: 1/6/2025 4:35:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tongket](
	[masv] [nvarchar](20) NULL,
	[namhoc] [nvarchar](20) NULL,
	[hocky] [int] NULL,
	[tbt] [float] NULL,
	[tbf] [float] NULL,
	[sotc] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[danhgia] ([madanhgia], [tendanhgia]) VALUES (N'A', N'Giỏi')
INSERT [dbo].[danhgia] ([madanhgia], [tendanhgia]) VALUES (N'B', N'Khá')
INSERT [dbo].[danhgia] ([madanhgia], [tendanhgia]) VALUES (N'B+', N'Khá Giỏi')
GO
INSERT [dbo].[ketqua] ([masv], [malop], [mamh], [hocky], [chuyencan], [giuaky], [cuoiky], [tongket], [danhgia], [diemchu]) VALUES (N'22CN1001', N'HT22', N'DC1TT01', N'2019_2020_1', 10, 8, 8, 8.2, N'DAT', N'B+')
INSERT [dbo].[ketqua] ([masv], [malop], [mamh], [hocky], [chuyencan], [giuaky], [cuoiky], [tongket], [danhgia], [diemchu]) VALUES (N'22CN1001', N'HT22', N'DC1TT02', N'2019_2020_1', 10, 8, 9, 8.9, N'DAT', N'A')
INSERT [dbo].[ketqua] ([masv], [malop], [mamh], [hocky], [chuyencan], [giuaky], [cuoiky], [tongket], [danhgia], [diemchu]) VALUES (N'22CN1001', N'HT22', N'DC1TT03', N'2020_2021_1', 10, 8, 8, 8.2, N'DAT', N'B+')
GO
INSERT [dbo].[khoa] ([makhoa], [tenkhoa]) VALUES (N'CNTT', N'Công Nghệ Thông Tin')
GO
INSERT [dbo].[lantruycap] ([id], [ngay], [solantruycap]) VALUES (1, CAST(N'2021-09-27' AS Date), 70)
INSERT [dbo].[lantruycap] ([id], [ngay], [solantruycap]) VALUES (2, CAST(N'2021-09-28' AS Date), 62)
INSERT [dbo].[lantruycap] ([id], [ngay], [solantruycap]) VALUES (3, CAST(N'2021-09-29' AS Date), 107)
GO
INSERT [dbo].[login] ([uid], [pwd], [maquyen]) VALUES (N'22CN1001', N'1', N'SV')
INSERT [dbo].[login] ([uid], [pwd], [maquyen]) VALUES (N'22CN5001', N'1', N'SV')
INSERT [dbo].[login] ([uid], [pwd], [maquyen]) VALUES (N'Admin', N'Admin', N'Admin')
GO
INSERT [dbo].[lop] ([malop], [tenlop], [makhoa]) VALUES (N'22CN1', N'22CN1', N'CNTT')
INSERT [dbo].[lop] ([malop], [tenlop], [makhoa]) VALUES (N'22CN2', N'22CN2', N'CNTT')
INSERT [dbo].[lop] ([malop], [tenlop], [makhoa]) VALUES (N'22CN3', N'22CN3', N'CNTT')
GO
INSERT [dbo].[monhoc] ([mamh], [tenmh], [sotin], [makhoa], [makhoi]) VALUES (N'DC1TT01', N'Kỹ năng thuyết trình', 1, N'CNTT', N'DAICUONG')
INSERT [dbo].[monhoc] ([mamh], [tenmh], [sotin], [makhoa], [makhoi]) VALUES (N'DC1TT02', N'Toán Đại số', 3, N'CNTT', N'DAICUONG')
INSERT [dbo].[monhoc] ([mamh], [tenmh], [sotin], [makhoa], [makhoi]) VALUES (N'DC1TT03', N'Triết học Mác - LêNin', 3, N'CNTT', N'DAICUONG')
GO
INSERT [dbo].[nhommonhoc] ([makhoi], [tenkhoi]) VALUES (N'COSO', N'Kiến Thức Cơ Sở Ngành')
INSERT [dbo].[nhommonhoc] ([makhoi], [tenkhoi]) VALUES (N'DAICUONG', N'Kiến Thức Giáo Dục Đại Cương')
INSERT [dbo].[nhommonhoc] ([makhoi], [tenkhoi]) VALUES (N'NGANH', N'Kiến Thức Ngành')
GO
INSERT [dbo].[pcgiangday] ([magv], [mamh], [malop], [hocky], [matt]) VALUES (N'GVTT01', N'DC1TT01', N'22CN5', N'2022_2023_1', N'DGD')
INSERT [dbo].[pcgiangday] ([magv], [mamh], [malop], [hocky], [matt]) VALUES (N'GVTT01', N'DC1TT06', N'22CN5', N'2024_2025_2', N'DGD')
INSERT [dbo].[pcgiangday] ([magv], [mamh], [malop], [hocky], [matt]) VALUES (N'GVTT01', N'DC1TT11', N'22CN5', N'2022_2023_1', N'DGD')
GO
INSERT [dbo].[quyen] ([maquyen], [tenquyen]) VALUES (N'ADMIN', N'Quản Trị Hệ Thống')
INSERT [dbo].[quyen] ([maquyen], [tenquyen]) VALUES (N'GV', N'Giảng Viên')
INSERT [dbo].[quyen] ([maquyen], [tenquyen]) VALUES (N'SV', N'Sinh Viên')
GO
INSERT [dbo].[sinhvien] ([masv], [hoten], [ngaysinh], [gioitinh], [sdt], [email], [diachi], [malop], [anh]) VALUES (N'22CN1001', N'Nguyễn Anh Minh', CAST(N'2004-08-30' AS Date), N'Nam', N'0987643001', N'anhminh@gmail.com', N'Hà Nội', N'22CN1', 0x0FFD)
INSERT [dbo].[sinhvien] ([masv], [hoten], [ngaysinh], [gioitinh], [sdt], [email], [diachi], [malop], [anh]) VALUES (N'22CN1002', N'Nguyễn Lan Anh', CAST(N'2004-01-10' AS Date), N'Nữ', N'0987643006', N'lananh@gmail.com', N'Hà Nội', N'22CN1', 0x0FFD)
INSERT [dbo].[sinhvien] ([masv], [hoten], [ngaysinh], [gioitinh], [sdt], [email], [diachi], [malop], [anh]) VALUES (N'22CN1003', N'Vũ Lan Anh', CAST(N'2004-06-10' AS Date), N'Nữ', N'0987643011', N'lananhvu@gmail.com', N'Hà Nội', N'22CN1', 0x0FFD)
GO
ALTER TABLE [dbo].[giangvien]  WITH CHECK ADD  CONSTRAINT [FK_giangvien_khoa] FOREIGN KEY([khoa])
REFERENCES [dbo].[khoa] ([makhoa])
GO
ALTER TABLE [dbo].[giangvien] CHECK CONSTRAINT [FK_giangvien_khoa]
GO
ALTER TABLE [dbo].[ketqua]  WITH CHECK ADD  CONSTRAINT [FK_ketqua_sinhvien] FOREIGN KEY([masv])
REFERENCES [dbo].[sinhvien] ([masv])
GO
ALTER TABLE [dbo].[ketqua] CHECK CONSTRAINT [FK_ketqua_sinhvien]
GO
ALTER TABLE [dbo].[login]  WITH CHECK ADD  CONSTRAINT [FK_login_quyen] FOREIGN KEY([maquyen])
REFERENCES [dbo].[quyen] ([maquyen])
GO
ALTER TABLE [dbo].[login] CHECK CONSTRAINT [FK_login_quyen]
GO
ALTER TABLE [dbo].[lop]  WITH CHECK ADD  CONSTRAINT [FK_lop_khoa] FOREIGN KEY([makhoa])
REFERENCES [dbo].[khoa] ([makhoa])
GO
ALTER TABLE [dbo].[lop] CHECK CONSTRAINT [FK_lop_khoa]
GO
ALTER TABLE [dbo].[monhoc]  WITH CHECK ADD  CONSTRAINT [FK_monhoc_khoa] FOREIGN KEY([makhoa])
REFERENCES [dbo].[khoa] ([makhoa])
GO
ALTER TABLE [dbo].[monhoc] CHECK CONSTRAINT [FK_monhoc_khoa]
GO
ALTER TABLE [dbo].[monhoc]  WITH CHECK ADD  CONSTRAINT [FK_monhoc_nhommonhoc] FOREIGN KEY([makhoi])
REFERENCES [dbo].[nhommonhoc] ([makhoi])
GO
ALTER TABLE [dbo].[monhoc] CHECK CONSTRAINT [FK_monhoc_nhommonhoc]
GO
ALTER TABLE [dbo].[pcgiangday]  WITH CHECK ADD  CONSTRAINT [FK_pcgiangday_lop] FOREIGN KEY([malop])
REFERENCES [dbo].[lop] ([malop])
GO
ALTER TABLE [dbo].[pcgiangday] CHECK CONSTRAINT [FK_pcgiangday_lop]
GO
ALTER TABLE [dbo].[pcgiangday]  WITH CHECK ADD  CONSTRAINT [FK_pcgiangday_monhoc] FOREIGN KEY([mamh])
REFERENCES [dbo].[monhoc] ([mamh])
GO
ALTER TABLE [dbo].[pcgiangday] CHECK CONSTRAINT [FK_pcgiangday_monhoc]
GO
ALTER TABLE [dbo].[sinhvien]  WITH CHECK ADD  CONSTRAINT [FK_sinhvien_lop] FOREIGN KEY([malop])
REFERENCES [dbo].[lop] ([malop])
GO
ALTER TABLE [dbo].[sinhvien] CHECK CONSTRAINT [FK_sinhvien_lop]
GO
USE [master]
GO
